.main {
  display: flex;
  flex-direction: column;

  padding: 20px;
}

.container {
  padding: 24px;
  min-height: 100vh;
}

.comment {
  margin-left: 0;
  padding: 8px;
  border-left: 2px solid #ccc;
}

.replies {
  margin-left: 20px;
}
